body {
	background-size: auto;
	font-size: 100%;
}

.nav {
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align:center;
}
.nav li {
    display: inline;
}
.nav a {
    display: inline-block;
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.nav a:hover {
	color: black;
	background-color: #fee57e;
}

.index-content {
	background: rgba(255, 255, 255, 0);
	margin: auto;
	padding-top: 10%;
}

.index-content #index-text {
	text-align: center;
	letter-spacing: 3px;
	font-family: "Verdana", sans-serif, serif;
	font-size: 6em;
	font-weight: lighter;
	text-shadow: 5px 3px white;
}	

.about-content {
	text-align: center;
	background: rgba(255, 255, 255, 0);
	width: 80%;
	margin: auto;
}

.about-content h1 {
	color: #F0E68C;
}

.about-text1 {
	background: rgba(255, 255, 255, 0.3);
	margin: auto;
	float: left;
	width: 20%;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 25%;
	margin-top: 40px;
	margin-right: 100%
}

.about-text2 {
	background: rgba(255, 255, 255, 0.3);
	margin: auto;
	float: right;
	width: 20%;
	text-align: right;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 25%;
	margin-top: 60px;
	margin-bottom: 40px;
}

.about-text2 ul {
	text-align: left;
}

.about-events-list {
	list-style-position: inside;
}

.pricing-content {
	width: 50%;
	margin: auto;
	text-align: center;
}

.pricing-content h1 {
	color: #F0E68C	;
}

.pricing-table-div {
	background: rgba(255, 255, 255, 0.3);
	margin: auto;
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 30px;
}

#pricing-table {
	margin: auto;
	border-collapse: collapse;
}

#pricing-table td, th {
	padding: 10px;
}

.contact-content {
	text-align: center;
	background: rgba(255, 255, 255, 0);
	width: 80%;
	margin: auto;
}

.contact-content h1 {
	color: #F0E68C;
}

.contact-email {
	background: rgba(255, 255, 255, 0.3);
	margin: auto;
	float: left;
	width: 20%;
	text-align: justify;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 25%;
	margin-top: 40px;
	margin-right: 100%
}

.contact-phone {
	background: rgba(255, 255, 255, 0.3);
	margin: auto;
	float: right;
	width: 20%;
	text-align: justify;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 25%;
	margin-top: 40px;
	margin-left: 100%;
}

.contact-fax {
	background: rgba(255, 255, 255, 0.3);
	margin: auto;
	float: left;
	width: 20%;
	text-align: justify;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 25%;
	margin-top: 40px;
	margin-right: 100%
}

.contact-address {
	background: rgba(255, 255, 255, 0.3);
	margin: auto;
	float: right;
	width: 20%;
	text-align: justify;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 25%;
	margin-top: 40px;
	margin-left: 100%;
	margin-bottom: 40px;
}
