body {
	background-color: lightblue;
}

.nav {
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align:center;
}
.nav li {
    display: inline;
}
.nav a {
    display: inline-block;
    padding: 10px;
}

.content {
	background: rgba(255, 255, 255, 0.5);
	width: 80%;
	margin: auto;
	margin-top: 0px;
}

p, h1, h2 {
	text-align: center;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}